<html>
    <head>
        <title>Push Config</title>
    </head>
    <body>
        <style type="text/css">
            .halfwidth {
                float: left;
                min-width: 49%;
                max-width: 550px;
                margin: 0 10px 20px 0;
            }
            .halfwidth textarea {
                width: 100%;
                max-width: 550px;
                height: 300px;
            }
        </style>
        <form method="POST">
        <h1>Push Config</h1>
        GCM API Key (Get from Google API Console)<br>
        <input type="text" name="gcm_api_key" value="{{appconfig.gcm_api_key}}" /><br>
        <br>
        GCM Multicast Limit (Maximum is 1000)<br>
        <input type="text" name="gcm_multicast_limit" value="{{appconfig.gcm_multicast_limit}}" /><br>
        <br>
        
        APNS Multicast Limit (Maximum is 1000)<br>
        <input type="text" name="apns_multicast_limit" value="{{appconfig.apns_multicast_limit}}" /><br>
        <br>
        
        APNS Mode<br>
        <select name="apns_test_mode">
            <option value="True"{% if appconfig.apns_test_mode %} SELECTED{% endif %}>Sandbox Mode</option>
            <option value="False"{% if not appconfig.apns_test_mode %} SELECTED{% endif %}>Production Mode</option>
        </select><br>
        <br>

        <div class="halfwidth">
            APNS Sandbox Certificate (Generate .pem from .cer then put contents in this field)<br>
            <textarea name="apns_sandbox_cert">{{appconfig.apns_sandbox_cert}}</textarea><br>
        </div>
        
        <div class="halfwidth">
            APNS Sandbox Key (Generate .pem from .p12 then put contents in this field)<br>
            <textarea name="apns_sandbox_key">{{appconfig.apns_sandbox_key}}</textarea><br>
        </div>
        <div style="clear: both"></div>
        
        <div class="halfwidth">
            APNS Certificate (Generate .pem from .cer then put contents in this field)<br>
            <textarea name="apns_cert">{{appconfig.apns_cert}}</textarea><br>
        </div>
        
        <div class="halfwidth">
            APNS Key (Generate .pem from .p12 then put contents in this field)<br>
            <textarea name="apns_key">{{appconfig.apns_key}}</textarea><br>
        </div>
        <div style="clear: both"></div>

        <div class="halfwidth">
            APNS Admin App Certificate (Generate .pem from .cer then put contents in this field)<br>
            <textarea name="apns_admin_cert">{{appconfig.apns_admin_cert}}</textarea><br>
        </div>

        <div class="halfwidth">
            APNS Admin App Key (Generate .pem from .p12 then put contents in this field)<br>
            <textarea name="apns_admin_key">{{appconfig.apns_admin_key}}</textarea><br>
        </div>
        <div style="clear: both"></div>

        <input type="submit" name="submit" value="Submit" />
        </form>
    </body>
</html>